*, *::after, *::before {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root {
    --main-color: #543310;
    --main-text-color: #F8F4E1;
    --main-background: #AF8F6F;
    --main-alt:#ffd500;
}

.App {

    background:var(--main-background);
    height:100vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px repeat(3, 1fr) 100px;

}

@mixin HeaderStyle {
    color:var(--main-text-color);
    background-color:var(--main-color);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.322);
    text-shadow: 0px 0px 5px black
}




.Header {
    @include HeaderStyle;
    display:grid;
    align-items: center;
    grid-template-columns:200px auto 20px;
    grid-area: 1 / 1 / 2 / 6;
    height:80px;
    padding:0px 15px;
    
    .head-logo {
        max-width:250px;
        flex:wrap
    }
    
    .header-nav {
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        width:100%;
        height:auto;

        ul {
            display:flex;
            justify-content: flex-end;
            padding:0;
            align-items: center;
            flex-flow: row wrap;
            
           
            a {
                padding:0;
                margin:auto 1em;
                text-align: center;
                font-weight:600;
            }
        }
    }
}

.main-display-area {
    background-color:var(--main-background);
    height: 50em;
    grid-area: 2 / 1 / 5 / 6;

    display:flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    width:fit-content;
    padding:2em;
    height:250px;
}



.hero-section {
   
   background-color:var(--main-text-color);

    .hero-info {
        border:2px solid red;
        padding:clamp(1em, 2em, 3em);
    }
};

.footer-section {
    grid-area: 5 / 1 / 6 / 6;
    background-color:var(--main-color);

}





//@media min-width 1000px/// 
// display: grid;

//main
//grid-template-rows: 60%+ auto;

//Hero:
// grid-template-columns: calc(30.56% + 160px) auto;

//About
//grid-template-columns:45% auto;


//default: height:100%

