*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: rgb(255, 155, 4);
  --main-text-color: #F8F4E1;
  --main-background: #fff8df;
  --border-style: #363636 ;
}

.App {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px repeat(3, 1fr) 120px;
  min-height: 100vh;
}

.layout-section {
  position: relative;
}

.nav-button {
  cursor: pointer;
  border: none;
  display: flex;
  transition: transform 0.5s ease-in;
  background: none;
}

.nav-button-open-box {
  margin-bottom: 7px;
}

.design-bar {
  position: absolute;
  width: 700px;
  height: 15px;
  background-color: var(--main-color);
  bottom: 0;
  right: -100px;
}

.header-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.header-section::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: var(--main-color);
  position: fixed;
  top: 0px;
  left: 0px;
  transition: height 0.5s ease-in;
}
.header-section .logo-box {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.header-section .logo-box .logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid var(--main-color);
}
.header-section .logo-box .logo-name {
  padding-left: 10px;
  font-size: clamp(1.125rem, -0.2813rem + 3.75vw, 1.5rem);
}
.header-section .nav-box {
  display: flex;
  width: 100%;
  height: 100%;
}
.header-section h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.call-to-action {
  position: absolute;
  min-width: 320px;
  max-width: 550px;
  bottom: 30px;
  right: 0;
}
.call-to-action h2, .call-to-action p {
  text-align: right;
  font-weight: 500;
}
.call-to-action h2 {
  padding-left: 1em;
  text-align: right;
  white-space-collapse: discard;
  line-height: 75px;
  font-size: clamp(2rem, -0.9136rem + 6.142vw, 4rem);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.call-to-action h2 i {
  font-weight: 600;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.footer-section .footer-text {
  text-align: center;
  border-bottom: 3px solid Var(--main-color);
}
.footer-section .footer-text h2 {
  font-size: clamp(1.125rem, 0.8523rem + 1.3636vw, 1.5rem);
}
.footer-section .footer-text a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.footer-section .social-box {
  display: flex;
}
.footer-section .social-box .social-logo-box {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: border 0.3s ease-in, background-color 0.3s ease-in;
}
.footer-section .social-box .social-logo-box .social-logo {
  padding-top: 2px;
}
.footer-section .social-box .social-logo-box:hover {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
}
.footer-section .social-box .messenger-logo-box {
  margin-right: 10px;
}

@media (max-width: 759px) {
  .header-section {
    grid-area: 1/1/2/8;
    position: relative;
  }
  .main-section {
    grid-area: 2/1/5/8;
    margin: 10px 0px;
  }
  .main-section .call-to-action h2 {
    line-height: 45px;
  }
  .footer-section {
    grid-area: 5/1/6/8;
  }
  .nav-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    height: 81px;
    width: 100%;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
  }
  h3 {
    margin-bottom: 12px;
    padding-left: 10px;
    font-size: 21px;
  }
  .nav-item-interactive-box:nth-child(2) {
    padding-left: 10px;
  }
  .nav-button-close-box {
    margin-bottom: 7px;
  }
}
@media (min-width: 760px) {
  .App {
    grid-template-columns: 20px repeat(4, 1fr) 20px;
    grid-template-rows: 80px repeat(3, 1fr) 120px;
  }
  .nav-button {
    display: none;
  }
  .header-section {
    grid-area: 1/1/2/7;
  }
  .header-section::after {
    height: 12px;
  }
  .main-section {
    grid-area: 2/2/5/6;
    margin: 20px 0px;
  }
  .footer-section {
    grid-area: 5/1/6/7;
  }
  .nav-item {
    border-color: var(--border-style);
    border-top: 1px solid;
    border-left: 1px solid;
    width: 160px;
    height: 35px;
  }
  .nav-item h3 {
    padding-left: 6px;
    margin-bottom: 2px;
  }
  .nav-item:nth-child(2) {
    border-right: 1px solid;
  }
}
@media (min-width: 1280px) {
  .App {
    grid-template-columns: 80px repeat(4, 1fr) 80px;
    grid-template-rows: 80px repeat(3, 1fr) 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .header-section {
    grid-area: 1/2/2/6;
  }
  .header-section::after {
    height: 15px;
  }
  .main-section {
    grid-area: 2/2/5/6;
    margin: 20px 0px;
  }
  .main-section .call-to-action h2 {
    line-height: 75px;
  }
  .footer-section {
    grid-area: 5/2/6/6;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-section .footer-text {
    text-align: left;
  }
  .social-box {
    margin-top: 10px;
  }
}
.layout-section {
  width: 100%;
}

.header-section {
  border-bottom: 1px solid var(--border-style);
}

.footer-section {
  border-top: 1px solid var(--border-style);
}

.nav-item-interactive-box {
  position: relative;
  display: flex;
  cursor: pointer;
}
.nav-item-interactive-box h3 {
  align-self: flex-end;
}
.nav-item-interactive-box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -1px;
  background-color: rgb(255, 155, 4);
  transition: width 0.5s ease;
}
.nav-item-interactive-box:hover::before {
  width: 100%;
}
@media (max-width: 759px) {
  .nav-item-interactive-box::before {
    background-color: rgb(255, 254, 253);
  }
}/*# sourceMappingURL=App.css.map */