*, *::after, *::before {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root {
    --main-color: rgb(255, 155, 4);
    --main-text-color: #F8F4E1;
    --main-background: #fff8df;
    --border-style: #363636
}

.App {
    background-color:var(--main-background);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 80px repeat(3, 1fr) 120px;
    min-height:100vh;
}

.layout-section {
    position:relative;
}
//nav buttons css and minor alignments
.nav-button {
    cursor:pointer;
    border:none;
    display:flex;
    transition:transform 0.5s ease-in;


    background:none;

}

.nav-button-open-box {
    margin-bottom:7px;
}

.design-bar {
    position:absolute;

    background-color:var(--main-color);

    bottom:0;
    right:-100px;

    transition:height 0.3s ease-in-out;
    transition:width 0.3s ease-in-out;

    z-index:10;
}





//header alignment, flex, and sizing. Not yet responsive //
.header-section {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    position:relative;

    &::after {
        content:'';
        width:100%;
        height:10px;
        background-color:var(--main-color);
        position:fixed;
        top:0px;
        left:0px;
        transition:height 0.5s ease-in;
    }

    .logo-box {
        display:flex;
        align-items: center;
        padding-left:5px;

        .logo-img {
            display: flex;
            align-items: center;
            justify-content: center;

            width:45px;
            height:45px;
            background-color:rgb(255, 255, 255);
            border-radius:30px;
            text-align: center;
            margin-bottom:10px;
            border:1px solid var(--main-color);
        }

        .logo-name {
            padding-left:10px;
            font-size: clamp(1.125rem, -0.2813rem + 3.75vw, 1.5rem);
        }
    }

    .nav-box {
        display:flex;
        width:100%;
        
        height:100%;
    }

    h3 {
        font-weight:500;
        letter-spacing: .5px;
    }
}
//

// .main-section {
//     overflow-x:hidden;
// }

//Main Section{
.call-to-action {
    position:absolute;
    min-width:320px;
    max-width:550px;


    bottom:30px;
    right:0;

    h2, p {
        font-weight:500;
    }

    h2 {
        white-space-collapse:discard;
        line-height: 75px;
        font-size: clamp(2rem, -0.9136rem + 6.142vw, 4rem);
        text-transform: uppercase;
        margin-bottom:10px;

        i {
            font-weight:600;
            border-bottom:6px solid var(--main-color);
        }
    }


}

//Footer Alignment, Flex, and sizing "NOT responsive yet"//

.footer-section {
    display:flex;
    justify-content: space-between;

    //footer MOBILE AND TABLET responsive 
    align-items: center;
    justify-content: space-around;
    flex-direction: column;


    //email-link
    .footer-text {
        text-align:center;
        border-bottom:3px solid Var(--main-color);
        h2 {
            font-size: clamp(1.125rem, 0.8523rem + 1.3636vw, 1.5rem);
        }
        a {
            font-size:14px;
            text-decoration: none;
            color:black;
        }
    }

    //social links
    .social-box {
        display:flex;

        .social-logo-box {
            cursor:pointer;
            border:2px solid black;
            border-radius:30px;
            width:40px;
            height:40px;
            text-align: center;
            transition:border 0.3s ease-in, background-color 0.3s ease-in;
        

            .social-logo {
                padding-top:2px;
            }

            &:hover {
                border:2px solid var(--main-color);
                background-color:var(--main-color);
            }
        }

        .messenger-logo-box {
            margin-right:10px;
        }
    }
}
//


//Mobile Design
@media(max-width:759px){

    .header-section { 
        grid-area: 1 / 1 / 2 / 8; 
        position:relative;
    }
    .main-section { 
        grid-area: 2 / 1 / 5 / 8; 
        margin:10px 0px;

        .call-to-action {

            h2, p {
                text-align: center;
            }

            h2 {
                line-height: 45px;
            }
        }
    }

    .footer-section { 
        grid-area: 5 / 1 / 6 / 8; 
    } 

 

    //mobile nav css for responsive and button function
    .nav-wrap {
        display:flex;
        align-items: flex-end;
        justify-content: space-between;
        position:absolute;
        height:81px;
        width:100%;


        background-color:var(--main-color);

        color:rgb(255, 255, 255);

    }

     h3 {
        margin-bottom:12px;
        padding-left:10px;
    
        font-size:21px;
    }

    .nav-item-interactive-box:nth-child(2){
        padding-left:10px;
    }

    .nav-button-close-box {
        margin-bottom:7px;
    }

    .design-bar {
        width:1000px;
        height:12px;
    }
}






//Tablet
@media(min-width:760px){


    .App {
        grid-template-columns: 20px repeat(4, 1fr) 20px;
        grid-template-rows: 80px repeat(3, 1fr) 120px; 
    }

    .nav-button {
        display:none;
    }

    .header-section {  
        grid-area: 1 / 1 / 2 / 7;

       &::after {
        height:12px;
       }
    
    }
    .main-section { 
        grid-area: 2 / 2 / 5 / 6;; 
        margin:20px 0px;

        .call-to-action {
            h2, p {
                text-align: right;
            }

            h2 {
                padding-left:1em;
            }
        }

    
    }
    .footer-section { 
        grid-area: 5 / 1 / 6 / 7;

    }

    
    .design-bar {
        width:700px;
        height:12px;
    }

    // nav-item desktop BORDER DESIGN
    .nav-item {
        border-color:var(--border-style);
            border-top:1px solid;
            border-left:1px solid;
            width:160px;
            height:35px;

            h3 {
                padding-left:6px;
                margin-bottom:2px;
            }
    }

    .nav-item:nth-child(2){
        border-right:1px solid;
}


    
}








//Desktop
@media(min-width:1280px){
    .App {
        grid-template-columns: 80px repeat(4, 1fr) 80px;
        grid-template-rows: 80px repeat(3, 1fr) 80px; 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .header-section {  
            grid-area: 1 / 2 / 2 / 6; 
            &::after {
                height:15px;
            
            }
        
        }
        .main-section { 
            grid-area: 2 / 2 / 5 / 6;
            margin:20px 0px;

            .call-to-action {

                h2 {
                    line-height: 75px;
                }
            }
        }

        
        //responsive footer desktop
        .footer-section { 
            grid-area: 5 / 2 / 6 / 6;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;

            .footer-text {
                text-align: left;
            }
        }

        .social-box {
            margin-top:10px;
        }
        
        .design-bar {
            height:15px;
        }
    
}

.layout-section {
    width:100%;
}

.header-section {
    border-bottom:1px solid var(--border-style);
}

// .main-section {
//     // border-top:1px solid var(--border-style);
//     // border-bottom:1px solid var(--border-style);

// }

.footer-section {
    border-top:1px solid var(--border-style)
}


//Hover for the header nav items
.nav-item-interactive-box {
    position:relative;
    display: flex;
    cursor:pointer;

    h3{
        align-self: flex-end;

    }

    //nav-item-hover-color-animation
    &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 3px;
        bottom: -1px;
        background-color: rgb(255, 155, 4);
        transition: width 0.5s ease;

    }
    &:hover {

        &::before {
            width: 100%;
        }
    }

    @media(max-width:759px){
        &::before {
            background-color: rgb(255, 254, 253);
        }
    }
}


