*, *::after, *::before {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root {
    --main-color: #543310;
    --main-text-color: #F8F4E1;
    --main-background: #fff8df;
    --border-style: #363636
}

.App {
    background-color:var(--main-background);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 80px repeat(3, 1fr) 120px;
    min-height:100vh;
}


@media(max-width:759px){

    .header-section { grid-area: 1 / 1 / 2 / 8; }

    .main-section { 
        grid-area: 2 / 1 / 5 / 8; 
        margin:10px 0px;
    }

    .footer-section { grid-area: 5 / 1 / 6 / 8; } 
}

@media(min-width:760px){

    .App {
        grid-template-columns: 40px repeat(4, 1fr) 40px;
        grid-template-rows: 80px repeat(3, 1fr) 120px; 
    }

    .header-section {  grid-area: 1 / 1 / 2 / 7; }
    .main-section { 
        grid-area: 2 / 2 / 5 / 6;; 
        margin:20px 0px;
    }
    .footer-section { grid-area: 5 / 1 / 6 / 7;}

    
}



@media(min-width:1280px){
    .App {
        grid-template-columns: 80px repeat(4, 1fr) 80px;
        grid-template-rows: 80px repeat(3, 1fr) 120px; 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .header-section {  grid-area: 1 / 2 / 2 / 6; }
        .main-section { 
            grid-area: 2 / 2 / 5 / 6;; 
            margin:20px 0px;
        }
        .footer-section { grid-area: 5 / 2 / 6 / 6;}
        
    
}

.layout-section {
    width:100%;
}

.header-section {
    border-bottom:1px solid var(--border-style)

}

.main-section {
    border:1px solid var(--border-style);
}

.footer-section {
    border-top:1px solid var(--border-style)
}
