*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #543310;
  --main-text-color: #F8F4E1;
  --main-background: #fff8df;
  --border-style: #363636 ;
}

.App {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px repeat(3, 1fr) 120px;
  min-height: 100vh;
}

.nav-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in;
}

.header-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.header-section .logo-box {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.header-section .logo-box .logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgb(131, 107, 107);
  border-radius: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.header-section .logo-box .logo-name {
  padding-left: 10px;
  font-size: clamp(1.125rem, -0.2813rem + 3.75vw, 1.5rem);
}
.header-section .nav-box {
  display: flex;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.footer-section .footer-text {
  text-align: center;
}
.footer-section .footer-text h2 {
  font-size: clamp(1.125rem, 0.8523rem + 1.3636vw, 1.5rem);
}
.footer-section .footer-text a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.footer-section .social-box {
  display: flex;
}
.footer-section .social-box .social-logo-box {
  cursor: pointer;
}
.footer-section .social-box .social-logo-box .social-logo {
  padding-top: 2px;
}
.footer-section .social-box .messenger-logo-box {
  margin-right: 10px;
}

@media (max-width: 759px) {
  .header-section {
    grid-area: 1/1/2/8;
    position: relative;
  }
  .main-section {
    grid-area: 2/1/5/8;
    margin: 10px 0px;
  }
  .footer-section {
    grid-area: 5/1/6/8;
  }
  .nav-box {
    justify-content: left;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgb(255, 155, 4);
    height: 100%;
    top: -100%;
    flex-direction: row;
  }
  .nav-box .nav-item {
    border: 0px;
    padding-left: 10px;
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: white;
  }
  .nav-closed-display-style {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}
@media (min-width: 760px) {
  .App {
    grid-template-columns: 20px repeat(4, 1fr) 20px;
    grid-template-rows: 80px repeat(3, 1fr) 120px;
  }
  .nav-button {
    display: none;
  }
  .header-section {
    grid-area: 1/1/2/7;
  }
  .main-section {
    grid-area: 2/2/5/6;
    margin: 20px 0px;
  }
  .footer-section {
    grid-area: 5/1/6/7;
  }
  .nav-item {
    border-color: var(--border-style);
    border-top: 1px solid;
    border-left: 1px solid;
    width: 160px;
    height: 35px;
  }
  .nav-item h3 {
    padding-left: 6px;
    margin-bottom: 2px;
  }
  .nav-item:nth-child(2) {
    border-right: 1px solid;
  }
}
@media (min-width: 1280px) {
  .App {
    grid-template-columns: 80px repeat(4, 1fr) 80px;
    grid-template-rows: 80px repeat(3, 1fr) 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .header-section {
    grid-area: 1/2/2/6;
  }
  .main-section {
    grid-area: 2/2/5/6;
    margin: 20px 0px;
  }
  .footer-section {
    grid-area: 5/2/6/6;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-section .footer-text {
    text-align: left;
  }
  .social-box {
    margin-top: 10px;
  }
}
.layout-section {
  width: 100%;
}

.header-section {
  border-bottom: 1px solid var(--border-style);
}

.main-section {
  border: 1px solid var(--border-style);
}

.footer-section {
  border-top: 1px solid var(--border-style);
}

.nav-item-interactive-box {
  position: relative;
  display: flex;
  cursor: pointer;
}
.nav-item-interactive-box h3 {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 600;
}
.nav-item-interactive-box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -1px;
  background-color: rgb(255, 155, 4);
  transition: width 0.5s ease;
}
.nav-item-interactive-box:hover::before {
  width: 100%;
}
@media (max-width: 759px) {
  .nav-item-interactive-box::before {
    background-color: rgb(255, 254, 253);
  }
}/*# sourceMappingURL=App.css.map */